<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <script src="https://cdn.socket.io/4.6.0/socket.io.js" crossorigin="anonymous"></script>
    <script src="../static/common.js" type="module" crossorigin=""></script>

    <title>Draw It</title>
</head>
<body>
    <div id="menu">
        <button id="tutorial-button" class="tutorial"></button>
        <button id="music-button" class="sound-off" data-music="off"></button>
    </div>


    <div id="first-screen">
        <img id="logo" src="../static/logo.png" alt="Draw It logo ">
        <div id="room-menu">
            <input type="text" placeholder="Username" maxlength="20" id="username-input" oninput="validateLogin()" name="username">
            <br>
            <button id="create-room-button">Create Room</button>
            <hr>
            <input type="text" placeholder="Room code" maxlength="4" id="room-code-input" oninput="validateLogin()" name="room-code">
            <br>
            <button id="join-room-button">Join Room </button>
        </div>
    </div>

    <div id="room-screen">
        <div id="room-screen-menu">
            <h1>Players</h1>
            <div id="room-player-list">

            </div>
            <button id="room-start-button" disabled>Start</button>
            <button id="room-leave-button">Leave</button>
        </div>
    </div>

    <div id="game-screen">
        <h1 id="timer">0s</h1>
        <h1 id="round">Round 0</h1>
        <h1 id="word">____</h1>

        <div id="game-player-list">
            <h1>Players</h1>

        </div>
        <canvas id="main-canvas" width="400" height="300"></canvas>
        <div id="chat">
            <div id="chat-text-div">
            </div>
            <div id="chat-input-div"><input id="chat-input" name="chat-input" type="text"><button id="chat-send-button">Send</button></div>
        </div>

        <div id="toolbar">
            <input type="number" id="width-input" name="width-input" min="3" max="30" step="3" value="6">
            <input type="radio" name="color-input" class="color-input" value="white" style="background-color: white;">
            <input type="radio" name="color-input" class="color-input" value="gray" style="background-color: gray;">
            <input type="radio" name="color-input" class="color-input" value="black" style="background-color: black;" checked>
            <input type="radio" name="color-input" class="color-input" value="red" style="background-color: red;">
            <input type="radio" name="color-input" class="color-input" value="darkred" style="background-color: darkred;">
            <input type="radio" name="color-input" class="color-input" value="lightblue" style="background-color: lightblue;">
            <input type="radio" name="color-input" class="color-input" value="blue" style="background-color: blue;">
            <input type="radio" name="color-input" class="color-input" value="limegreen" style="background-color: limegreen;">
            <input type="radio" name="color-input" class="color-input" value="green" style="background-color: green;">
            <input type="radio" name="color-input" class="color-input" value="yellow" style="background-color: yellow;">
            <input type="radio" name="color-input" class="color-input" value="orange" style="background-color: orange;">
            <input type="radio" name="color-input" class="color-input" value="brown" style="background-color: brown;">
        </div>
    </div>

    <h1 id="room-code">CODE</h1>

    <dialog id="tutorial-dialog">
        <h1 id="tutorial-h1"></h1>
        <img src="" alt="" id="tutorial-img">
        <br>
        <br>
        <button id="tutorial-next" >Next</button>
    </dialog>

    <script src="../static/FormValidate.js"></script>

</body>
</html>