<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <script src="https://cdn.socket.io/4.6.0/socket.io.js" crossorigin="anonymous"></script>
    <script src="../static/common.js" type="module" crossorigin=""></script>

    <title>Draw It</title>
</head>
<body>
    <div id="menu"><button id="music-button" class="sound-off" data-music="off"></button></div>


    <div id="first-screen">
        <img id="logo" src="../static/logo.png" alt="Draw It logo ">
        <div id="room-menu">
            <input type="text" placeholder="Username" maxlength="20" id="username-input" oninput="validateLogin()" name="username">
            <br>
            <button id="create-room-button">Create Room</button>
            <hr>
            <input type="text" placeholder="Room code" maxlength="4" id="room-code-input" oninput="validateLogin()" name="room-code">
            <br>
            <button id="join-room-button">Join Room </button>
        </div>
    </div>

    <div id="room-screen">
        <div id="room-screen-menu">
            <h1>Players</h1>
            <div id="room-player-list">

            </div>
            <button id="room-start-button" disabled>Start</button>
            <button id="room-leave-button">Leave</button>
        </div>
    </div>

    <div id="game-screen">
        <h1 id="timer">0s</h1>
        <h1 id="round">Round 0</h1>
        <h1 id="word">____</h1>

        <div id="game-player-list">
            <h1>Players</h1>

        </div>
        <canvas id="main-canvas" width="400" height="300"></canvas>
        <div id="chat">
            <div id="chat-text-div">
            </div>
            <div id="chat-input-div"><input id="chat-input" name="chat-input" type="text"><button id="chat-send-button">Send</button></div>
        </div>
    </div>

    <h1 id="room-code">CODE</h1>

    <script src="../static/FormValidate.js"></script>

</body>
</html>